* {
    margin: 0;
    padding: 0;
  }
html, body {
  height: 100%;
  width: 100%;
}
canvas {
  display: block;
  /* background: #eeeeee; */
  border:dashed 1px gray;
}

.canvas_container{
  position: relative;
}

.canvas_wrap{
  position: absolute;
  width:100px;
  height:200px;
  /* background-color: black; */
  top:0;
  left:0;
  /* opacity: 0.5; */
  border:dashed 1px gray;
  z-index:99;
  cursor: move;
}

/* .border_top_left,
.border_top_right,
.border_bottom_left, */
.border_bottom_right{
  position: absolute;
  width:10px;
  height:10px;
  background: rgba(0,0,0,0.5);
  border:1px solid #000;
  z-index:999;
}
.border_top_left{
  top:-5px;
  left:-5px;
}
.border_top_right{
  top:-5px;
  left:95px;
}
.border_bottom_left{
  top:195px;
  left:-5px;
}
.border_bottom_right{
  top:191px;
  left: 91px;
}